table {
    width: 100%;
}
table a {
  text-decoration: none;
}
td {
  padding: 2px;
}
/* td:first-child {
    width: 10%;
    white-space: nowrap;
    vertical-align: middle;
  } */
  
  td:nth-child(1) {
    vertical-align: middle;
    
    width: 80%;
  }
  td:nth-child(2) {
    white-space: nowrap;
    vertical-align: middle;
  }

  td:last-child {
    width: 10%;
    white-space: nowrap;
    vertical-align: middle;
  }

input {
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box;
     background-color: var(--bg); 
     border: 0px;
     border-bottom: 2px solid var(--inner-bg);
     color: var(--fg);
     font-family: var(--font-monospace);
     font-size: 15px;
     -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
    outline: none;
    border-bottom: 2px solid var(--fg);
}
#reserved__name, #reserved__days {
  background-color: var(--off-bg); 
}
#reserved__button {
  font-size: 15px;
display: block;
margin: 10px auto auto auto;
}
button {
  font-family: var(--font-monospace);
  background-color: var(--off-bg); 
  border: 0px;
  color: var(--fg);
  border-bottom: 2px solid var(--fg);
  cursor: pointer;
  display: block;
margin: auto;
}
.reserved {
  color: var(--base08);
  border-bottom: 2px solid var(--base08);

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--off-bg);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
  min-height: 50px;
}

.close {
  color: var(--fg);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--base0A);
  text-decoration: none;
  cursor: pointer;
}