{{ define "main" }}
    {{ if ne .Type "wishlist" }}
        <h1 id="{{ .Title | urlize }}">{{ .Title | markdownify }}</h1>
    {{ end }}

    {{ .Content }}

    <ul>
    {{ range .Pages }}
        {{ .Render "li" }}
    {{ end }}
    </ul>

{{ end }}
