<div class="aside__about">
    {{ if eq .Type "wishlist" }}
        <img class="about__logo" src="{{ "images/delibird.png" | absURL }}" alt="Logo">
        <h1 class="about__title">{{ .Title }}</h1>
        {{ with .Description }}<p class="about__description">{{ . | markdownify }}</p>{{ end }}

        <p>Фільтрація по цінам:</p>
        <input type="number" autocomplete="off" placeholder="Максимальна сума дарунку" id="wishlist__filter">
    {{ else }}
    <span class="h-card">
        {{ with .Site.Params.about }}
        {{ if page.Params.params.icon }}<img class="about__logo u-photo" src="{{ (printf "images/%s" page.Params.params.icon) | absURL }}" alt="Logo">{{ else }}{{ with .logo }}<img class="about__logo u-photo" src="{{ . | absURL }}" alt="Logo">{{ end }}{{ end }}
        <h1 class="about__title p-name">{{ .title }}</h1>
        {{ with .description }}<p class="about__description">{{ . | markdownify }}</p>{{ end }}
    </span>
        {{ end }}
    {{ end }}
</div>

{{ if eq .Type "wishlist" }}
<div id="reserve__modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form>
            <label for="reserved__name">Ваше ім'я або нік в Телеграмі</label>
            <input type="text" autocomplete="off" placeholder="Ваше ім'я" id="reserved__name">
            <label for="reserved__days">На скільки зарезервувати дарунок?</label>
            <input type="number" autocomplete="off" placeholder="Кільіксть днів" id="reserved__days">
            <div><button type="button" id="reserved__button">Зарезервувати дарунок</button></div>
        </form>
        <div class="reserved_message">
            <p style="text-align: center;"></p>
        </div>
    </div>
</div>

<script src="{{ "js/custom.js" | absURL }}"></script>
{{ else }}

<ul class="aside__social-links">
    {{ range $item := .Site.Params.socialLinks }}
    <li>
        <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" title="{{ $item.title }}"><i
                class="{{ $item.icon }}" aria-hidden="true"></i></a>&nbsp;
    </li>
    {{ end }}
</ul>
{{ end }}