{{- partial "lang.html" . -}}
{{/*  <p class="copyright">{{ .Site.Copyright | markdownify }}</p>
<p class="advertisement">Powered by <a href="https://gohugo.io/">hugo</a> and <a href="https://github.com/joeroe/risotto">risotto</a>.</p>  */}}
